@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:600,600i,700");

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin:0 auto;
    padding:0;
    background: #191919;
    color: #eee;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    font-size: 90%;
    margin: 2rem auto;
    width: 90%;
}

h1 {
    text-align:center;
}

h2 {
    padding:0.3rem 1rem;
    border-bottom:0.1rem solid white;
}
nav {
    display:flex;
    align-items:center;
}

nav ol {
    justify-content:space-around;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    flex-grow:1;
    flex-shrink:1;
    align-content:stretch;
    list-style:none;
    margin:0;
    background:deepskyblue;
    flex-basis:auto;
}
nav ol li {
}
a {
    text-decoration:none;
    display:block;
    color:black;
    padding:1em;
}
nav ol li a:hover {
    background:#1565c0;
}

@media all and (max-width:600px) {
    nav {
        align-items:stretch;
        text-align:center;
        padding:0;
        margin:0;
    }
    nav, nav ol {
        flex-direction:column;
        padding:0;
    }

    nav ol li a {
        background: red;
    }

    section {
        background:black;
    }
}

.dzisiaj {
    background:black;
}

main {
    display:flex;
    flex-flow:row wrap;
    outline:1px solid red;
}

main > * {
    flex:1 100%; /* all items to be 100% */
}

section {
    padding:1rem;
    background:grey;
    margin:1rem;
}

section ol {
    counter-reset:my-awesome-counter;
    list-style:none;
    padding-left:2rem;
}

section ol li {
    margin:0 0 1rem 0;
    counter-increment:my-awesome-counter;
    position:relative;
}

section ol li::before {
    content: counter(my-awesome-counter);
    color: #fcd000;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}
section ol li:hover {
    background:orange;
}
a[href="#top"] {
    padding:1em;
    background:yellow;
}
