@charset "UTF-8";
:root {
    --main-bg-color: white;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin:0 auto;
    padding:0;
    font-size:1.125rem; /* 18px, where 1rem = 16px */
    line-height:1.3;
    background-color:var(--main-bg-color);
    width:90%;
}
h1 {
    text-align:center;
}
table {
    width:100%;
    text-align:center;
}
table th[rowspan] {
    writing-mode: vertical-rl;
}
table, th, td {
    border:3px solid black;
    border-collapse:collapse;
}
.day-of-month {
    text-align:center;
}
th[rowspan] {
    background: green;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}
td {
}
tr.day:hover a{
    background:#369;
    color:#fff;
}
td a {
    display:block;
}
thead tr th{
    background:#369;
    position:sticky;
    top:-0.2rem;
    padding:1rem;
}
